@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


.chat-msg{
    padding: 2px;
}
.chat-wrapper{
    font-family: "Roboto";
}
.chat-place{
    padding:12px;
    margin:0;
    height:300px;
    overflow: auto;
}
input#message{
    height: 40px;
    border: 0;
    border-top: 1px solid #888;
    outline: none;
    box-shadow: none;
    border-radius: 0;
}
.message-submit{
    margin-left: -18px;
    position: absolute;
    margin-top: 25px;
    line-height: 21px;
    border-radius: 0px 5px 5px 0px;
}
.user-img-chat{
    margin: 2px 9px 0px 5px;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.msg-head-wrapper{
    font-family: "Lato";
    margin-left: 44px;
    height: 14px;
    width: auto;
    overflow: hidden;
}
.msg-body-wrapper{
    font-family: "Roboto";
    margin-top: 3px;
    margin-left: 6px;
    font-size: 13px;
    word-wrap: break-word;
    max-height: 90px;
    overflow: hidden;
}
.nick-wrapper{
    cursor: pointer;
    float: left;
    font-size: 11px;
    font-weight: bold;
    color: rgb(59, 89, 152);
}
.time-wrapper{
    margin-top: 1px;
    float: left;
    color: rgb(137, 137, 137);
    font-weight: normal;
    font-size: 9px;
    margin-left: 3px;
}